/*.Helio1 {
  padding: 10px 18px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  background-color: #007bff;
  color: white;

  transition: 0.3s;
}



.Helio:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.Helio:active {
  transform: scale(0.95);
}


 
